.custom-container {
    margin: 5vh 15vw !important;
    text-align: center;
}
.blog-page-cover {
    max-width: 70vw;
    width: 50%;
}
.blog-content {
    text-align: justify;
}
.change-post-color {
    color: #5aa469  ;
}
.social-networks {
    color: black;
    margin-top: 1em;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media screen and (max-width: 1280px) {
    .blog-page-cover {
        width: 100%;
    }
    .blog-grid-container {
        grid-template-columns: auto auto;
        margin: 5vh 15vw;
    }
    .blog-post {
            grid-column: 1 / span 2;
    }
}